<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage===1">
      <!--      <a class="page-link" aria-label="Previous" href="#" (click)="goToPreviousPage(); $event.preventDefault()"></a>-->
      <a class="page-link" href="#" aria-label="Previous" (click)="goToPreviousPage(); $event.preventDefault()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let p of getVisiblePages(); let i = index" [class.active]="currentPage===p">
      <a class="page-link" href="#" (click)="goToPage(p, $event)">{{ p + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" (click)="goToNextPage(); $event.preventDefault()">Next</a>
    </li>
  </ul>
</nav>
