.pagination {
  li {
    margin: 0 2px;
  }
  .page-link {
    color: #007bff;
    background-color: #fff;
    border:1px solid #dee2e6;

    &:hover {
      background-color: #f8f9fa;
    }

    &:focus{
      outline: none;
      box-shadow: none;
      background-color: #bdc1c7;
    }

    &.active {
      background-color: #007bff;
      border-color: #007bff;
      color: white;
    }

    &[aria-disabled="true"] {
      pointer-events: none;
      color: #6c757d;
      background-color: #fff;
      border-color: #dee2e6;
    }
  }
}
