<div class="container mx-auto px-4 py-12" *ngIf="book">
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
    <div class="lg:col-span-2">
      <div class="aspect-w-1 aspect-h-1">
        <img [src]="book.imageUrl" alt="Book Cover" class="object-cover w-full h-auto rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:scale-105"
             (error)="onImageError($event)">
      </div>
    </div>
    <div class="lg:col-span-3">
      <h2 class="text-3xl font-bold mb-4">{{ book.title }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <p class="text-gray-600 mb-2">
<!--            <span class="font-semibold">Author:</span> {{ book.author }}-->
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Publisher:</span> {{ book.publisher.name }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Publication Date:</span> {{ book.publicationDate | date }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Language:</span> {{ book.language }}
          </p>
        </div>
        <div>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Pages:</span> {{ book.pages }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">ISBN:</span> {{ book.isbn }}
          </p>
          <p class="text-gray-600 mb-2">
<!--            <span class="font-semibold">Format:</span> {{ book.format }}-->
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Stock Quantity:</span> {{ book.inventory.quantity }}
          </p>
        </div>
      </div>
      <div class="mt-6">
        <p class="text-3xl font-bold text-blue-600">{{ book.price | currency }}</p>
      </div>
      <div class="mt-6 flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4">
        <div class="flex items-center border border-gray-300 rounded">
          <button class="text-gray-700 hover:text-gray-900 py-2 px-4 focus:outline-none" (click)="decreaseQuantity()">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
            </svg>
          </button>
          <input type="number" id="quantity" class="w-16 py-2 px-4 text-center focus:outline-none" [(ngModel)]="quantity" min="1">
          <button class="text-gray-700 hover:text-gray-900 py-2 px-4 focus:outline-none" (click)="increaseQuantity()">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
          </button>
        </div>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="addToCart()" [disabled]="!book || !book.inventory || quantity > book.inventory.quantity">
          Add to Cart
        </button>
        <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-red-500 flex items-center">
          <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
          </svg>
          Add to Favorites
        </button>
      </div>
      <div class="mt-8">
        <h3 class="text-2xl font-semibold mb-4">Description</h3>
        <p class="text-gray-600 leading-relaxed line-clamp-3" [ngClass]="{'line-clamp-none': expandedDescription}">
          {{ book.description }}
        </p>
        <button class="text-blue-500 mt-2 focus:outline-none" (click)="toggleDescription()" *ngIf="book.description.length > 200">
          {{ expandedDescription ? 'Read Less' : 'Read More' }}
        </button>
      </div>
    </div>
  </div>
</div>
