<div *ngIf="book" class="book-details-container">
  <div class="row">
    <div class="col-md-4">
      <img class="book-cover img-fluid shadow"
           [src]="book.covers?.[0] ? 'https://covers.openlibrary.org/b/id/' + book.covers[0] + '-L.jpg' : 'assets/images/book-cover-default.jpg'"
           [alt]="'Book Cover for' + book.title">
    </div>
    <div class="col-md-8">
      <h2 class="book-title">{{ book.title }}</h2>
      <p class="author-names">Author: {{ book.author_keys?.join(', ') }}</p>
      <div class="book-description">
        <h4>Description:</h4>
        <div>
          <p>Lorem ipsum dolor sit amet. Qui eius illo in voluptatem modi
            <em>Ut nostrum et voluptatibus galisum hic enim natus ut possimus quasi</em>.
            Ex iusto veritatis aut distinctio similique <strong>Ut voluptates</strong>.
            Nam asperiores consequaturUt voluptatem eum cupiditate quos et asperiores blanditiis et Quis eaque.
            Eos incidunt nihilQui doloribus et accusamus adipisci aut temporibus quis vel
            adipisci distinctio.</p>
          <p>Non porro minus eum aperiam voluptatemhic reiciendis est fugit perferendis.
            In ducimus cupiditate <em>Ut eius hic porro voluptate ea totam fugiat</em> eum velit eligendi.
            Et blanditiis nulla et deserunt harumUt dolorum.</p>
          <p>Id enim nulla qui maxime voluptas <strong>Et corporis aut minus totam id necessitatibus dolorem sit magnam voluptas</strong>
            hic tempora ducimus. Quo nisi adipisci quo expedita delectus <em>In praesentium quo repellendus odio id magnam iusto
              ea consectetur illum</em>.</p>
          <blockquote class="blockquote">
            <p>Eos quos enim est consectetur eius aut placeat expedita eum corporis omnis vel sapiente provident et corrupti quaerat.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
