<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-6 flex items-center justify-between">
    <div class="flex items-center">
      <a [routerLink]="['home']" class="text-2xl font-bold text-gray-800 hover:text-gray-600 transition duration-300">
        <span class="relative inline-block">
          <span class="absolute inset-0 bg-gradient-to-r from-blue-500 to-purple-500 opacity-30 transform -skew-x-12"></span>
          <span class="relative">BetterRead</span>
        </span>
      </a>
    </div>
    <div class="flex-grow">
      <div class="flex justify-center">
        <app-search class="w-full max-w-3xl"></app-search>
      </div>
    </div>
    <div class="flex items-center">
      <div class="relative" *ngIf="isLoggedIn">
        <a [routerLink]="['cart']" class="flex items-center text-gray-600 hover:text-gray-800 focus:outline-none cursor-pointer transition duration-300">
          <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
          </svg>
          <span class="ml-2 text-sm uppercase tracking-wide">Cart</span>
        </a>
      </div>
      <div class="ml-8" *ngIf="isLoggedIn">
        <a [routerLink]="['reading-progress']" class="flex items-center text-gray-600 hover:text-gray-800 focus:outline-none cursor-pointer transition duration-300">
          <svg class="h-6 w-6 mr-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
          </svg>
          <span class="text-sm uppercase tracking-wide">Booklist</span>
        </a>
      </div>
      <div class="ml-8 relative" *ngIf="isLoggedIn">
        <button class="flex items-center text-gray-600 hover:text-gray-800 focus:outline-none cursor-pointer transition duration-300" (click)="showDropdown = !showDropdown">
          <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
          <span class="ml-2 text-sm uppercase tracking-wide">Account</span>
        </button>
        <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg transition duration-300 ease-in-out transform origin-top-right" [ngClass]="{'scale-100 opacity-100': showDropdown, 'scale-0 opacity-0': !showDropdown}">
          <a href="/profile" class="block px-4 py-3 text-gray-600 hover:bg-gray-100 hover:text-gray-800 rounded-t-md transition duration-300">Profile</a>
          <button class="block w-full text-left px-4 py-3 text-gray-600 hover:bg-gray-100 hover:text-gray-800 rounded-b-md transition duration-300" (click)="logout()">Logout</button>
        </div>
      </div>
      <div class="ml-8" *ngIf="!isLoggedIn">
        <a href="/login" class="flex items-center text-gray-600 hover:text-gray-800 focus:outline-none cursor-pointer transition duration-300">
          <svg class="h-6 w-6 mr-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
          </svg>
          <span class="text-sm uppercase tracking-wide">Login</span>
        </a>
      </div>
    </div>
  </div>
</header>
