<div class="container mx-auto px-4 py-12" *ngIf="book">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
    <div class="lg:col-span-1">
      <div class="aspect-w-1 aspect-h-1">
        <img [src]="book.imageUrl" alt="Book Cover" class="object-cover w-full h-full rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:scale-105"
             (error)="onImageError($event)">
      </div>
    </div>
    <div class="lg:col-span-1">
      <h2 class="text-4xl font-bold mb-6">{{ book.title }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">ISBN:</span> {{ book.isbn }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Publisher:</span> {{ book.publisher.name }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Publication Date:</span> {{ book.publicationDate | date }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Language:</span> {{ book.language }}
          </p>
        </div>
        <div>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Pages:</span> {{ book.pages }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Price:</span> {{ book.price | currency }}
          </p>
          <p class="text-gray-600 mb-2">
            <span class="font-semibold">Stock Quantity:</span> {{ book.inventory.quantity }}
          </p>
        </div>
      </div>
      <div class="mt-10">
        <h3 class="text-2xl font-semibold mb-4">Description</h3>
        <p class="text-gray-600 leading-relaxed">{{ book.description }}</p>
      </div>
      <div class="mt-10 flex items-center space-x-4">
        <div class="flex items-center space-x-2">
          <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-l focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="decreaseQuantity()">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
            </svg>
          </button>
          <input type="number" id="quantity" class="w-16 py-2 px-4 text-center border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="quantity" min="1">
          <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-r focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="increaseQuantity()">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
          </button>
        </div>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="addToCart()" [disabled]="!book || !book.inventory || quantity > book.inventory.quantity">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
