<!--<div *ngIf="borrowings.length > 0" class="container mx-auto mt-8">-->
<!--  <h2 class="text-3xl font-bold mb-8 text-center text-blue-600">My Borrowings</h2>-->
<!--  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">-->
<!--    <div *ngFor="let borrowing of borrowings" class="bg-white rounded-lg shadow-lg overflow-hidden transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-2xl">-->
<!--      <div class="relative">-->
<!--        <img class="w-full h-48 object-cover" [src]="getBookCoverImage(borrowing.bookId)" alt="Book Cover">-->
<!--        <div class="absolute top-0 right-0 mt-4 mr-4 bg-blue-600 text-white text-sm font-bold py-1 px-2 rounded-full">-->
<!--          {{ borrowing.remainingDays }} days left-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="p-6">-->
<!--        <h3 class="text-xl font-semibold mb-2 text-gray-800">{{ borrowing.bookTitle }}</h3>-->
<!--        <div class="flex items-center mb-4">-->
<!--          <svg class="w-4 h-4 text-blue-600 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>-->
<!--          </svg>-->
<!--          <span class="text-gray-600">{{ borrowing.borrowedDate | date: 'MMM d, y' }}</span>-->
<!--        </div>-->
<!--        <div class="flex items-center">-->
<!--          <svg class="w-4 h-4 text-blue-600 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>-->
<!--          </svg>-->
<!--          <span class="text-gray-600">{{ borrowing.returnDate | date: 'MMM d, y' }}</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
