<div class="mt-4 d-flex justify-content-center mb-5">
  <div class="search-container">
    <div class="input-group">
      <input class="form-control search-input" type="text" [(ngModel)]="searchQuery" placeholder="Search books by title" />
      <button class="btn btn-primary search-button" (click)="searchBooks(searchQuery, 0)">Search</button>
    </div>
  </div>
</div>

<div *ngIf="books; else noResultsTemplate" class="mt-4 m-lg-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4" *ngFor="let book of books">
      <div class="card book-card h-100 shadow">
        <img [src]="book.covers?.[0] ? 'https://covers.openlibrary.org/b/id/' + book.covers[0] + '-L.jpg' : 'assets/images/book-cover-default.jpg'"
             [alt]="'Book Cover for ' + book.title"
             class="card-img-top book-cover">
        <div class="card-body">
          <h5 class="card-title book-title">
            <a [routerLink]="['/book', book.id]" class="stretched-link text-decoration-none">{{ book.title }}</a>
          </h5>
          <p class="card-text author-names">{{book.author_keys?.length ? book.author_keys.join(', ') : 'No Authors found'}}</p>
        </div>
        <div class="card-footer bg-white">
          <small class="text-muted">ID: {{book.id}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResultsTemplate>
  <div class="alert alert-warning mt-4" role="alert">
    No results found.
  </div>
</ng-template>

<app-pagination class="mt-4"
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [maxVisiblePages]="maxVisiblePages"
                (pageChange)="goToPage($event)">
</app-pagination>
