<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Explore</h5>
        <ul class="list-unstyled">
          <li><a href="#">Books</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Account</h5>
        <ul class="list-unstyled">
          <li><a href="#">Price</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Find Book</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Instruction</a></li>
          <li><a href="#">Notes</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>© 2024 All rights reserved. | <a href="#">Terms of Service</a> | <a href="#">Subscription Service Agreement</a> | <a href="#">Privacy</a> | <a href="#">Legal</a></p>
    </div>
  </div>
</footer>
