<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>About Us</h5>
        <p>We are a book lovers community dedicated to helping people find and share books they love.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/books">Books</a></li>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Connect With Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com/yourpage" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/yourpage" target="_blank">Twitter</a></li>
          <li><a href="https://instagram.com/yourpage" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2024. All rights reserved.</p>
    </div>
  </div>
</footer>
