<div class="container mx-auto p-8">
  <h2 class="text-3xl font-bold mb-8">Your Cart</h2>

  <div *ngIf="(cart$ | async) as cart; else emptyCart">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="px-6 py-4 bg-gray-100 flex justify-between items-center">
        <p class="text-lg font-semibold">Total Items: {{ cart.totalItems }}</p>
        <p class="text-lg font-semibold">Total Price: {{ getSelectedItemsTotal(cart) | currency }}</p>
      </div>

      <div class="divide-y divide-gray-200">
        <div class="px-6 py-4" *ngFor="let item of cart.cartItems">
          <div class="flex items-center">
            <input type="checkbox" [(ngModel)]="item.selected" class="mr-4">
            <img [src]="item.bookImageUrl" alt="{{ item.bookTitle }}" class="w-20 h-28 object-cover mr-6 rounded-md shadow-md transition duration-500 ease-in-out transform hover:scale-105">
            <div>
              <h3 class="text-xl font-semibold">{{ item.bookTitle }}</h3>
              <p class="text-gray-500 mt-1">Price: {{ item.price | currency }}</p>
              <div class="mt-4 flex items-center">
                <button (click)="updateQuantity(item.bookId, item.quantity - 1)" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-l hover:bg-gray-300 focus:outline-none">-</button>
                <input type="number" [(ngModel)]="item.quantity" class="w-16 px-2 py-2 text-center border border-gray-300 focus:outline-none">
                <button (click)="updateQuantity(item.bookId, item.quantity + 1)" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-r hover:bg-gray-300 focus:outline-none">+</button>
                <button (click)="removeFromCart(item.bookId)" class="ml-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-6 py-4 bg-gray-100 flex justify-between items-center">
        <button (click)="clearCart()" class="px-6 py-3 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 focus:outline-none">Clear Cart</button>
        <button (click)="checkout()" class="px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none">Checkout Selected</button>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="bg-white rounded-lg shadow-lg px-6 py-8 text-center">
      <p class="text-xl text-gray-500">Your cart is empty.</p>
      <a routerLink="/" class="mt-4 inline-block px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none">Continue Shopping</a>
    </div>
  </ng-template>
</div>
